<html ng-app="myApp">
    <head>
        <meta charset="UTF-8" />
        <title>Create a movie page</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-resource.js"></script>
        <script src="/js/myApp.js"></script>
        <script src="/js/movieController.js"></script>
        <script src="/js/movieService.js"></script>
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="/css/myCss.css" rel="stylesheet" />
    </head>
    <body ng-controller="MovieController" ng-init="initFind()">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Movie find page</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Index</a></li>
                        <li><a href="/create">Create</a></li>
                        <li><a href="/delete">Delete</a></li>
                        <li><a href="/update">Update</a></li>
                        <li><a href="/find">Find</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <br/><br/><br/><br/>

        <div class="alert alert-danger" role="alert" ng-show="status == 'Not found'">
            <strong>Oh snap !</strong> Your movie page doesn't exist : {{ name }}.
        </div>

        <div class="div-find">
            <div class="col-sm-4" style="">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Find a movie</h3>
                    </div>
                    <div class="panel-body">
                        <form id="delete-movie-form">
                            <h3>
                        <span class="label label-default">
                            Name :
                        </span>
                            </h3>
                            <input ng-model="name" type="text"/>
                            <br/><br/>
                            <button class="btn btn-success"
                                    ng-click="findMovie(name)" ng-if="name">Find</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-4" ng-show="movie.name != null">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ movie.displayName }}</h3>
                    </div>
                    <div class="panel-body">
                        <div ng-if="movie.directors.length != 0">
                            <h3>
                                <span class="label label-default">
                                    Directors :
                                </span>
                            </h3>
                            <div ng-repeat="director in movie.directors">
                                {{ director }}
                            </div>
                        </div>
                        <div ng-if="movie.genres.length != 0">
                            <h3>
                                <span class="label label-default">
                                    Genres :
                                </span>
                            </h3>
                            <div ng-repeat="genre in movie.genres">
                                {{ genre }}
                            </div>
                        </div>
                        <div ng-if="movie.nationalities.length != 0">
                            <h3>
                                <span class="label label-default">
                                    Nationalities :
                                </span>
                            </h3>
                            <div ng-repeat="nationality in movie.nationalities">
                                {{ nationality }}
                            </div>
                        </div>
                        <div ng-if="movie.actors.length != 0">
                            <h3>
                                <span class="label label-default">
                                    Actors :
                                </span>
                            </h3>
                            <div ng-repeat="actor in movie.actors">
                                {{ actor }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="{{ movie.picture }}" alt="{{ movie.name }}" height="607" width="432" ng-show="movie.name != null" class="image-find"/>
    </body>
</html>